@model string
@{
    Layout = MarkdownDocumenting.DocumentingConfig.Current.Layout;
}
@using Westwind.AspNetCore.Markdown;

@if (Model != null)
{
    @Markdown.ParseHtmlString(Model);
}
else
{
    <h2>Welcome Documenting</h2>

    <p>Something looks wrong. Your markdown files couldn't be located. Make sure you've marked <b>Copy to Output Directory</b> as <b>Copy Always</b>.</p>
    <p>
        Follow <a href="https://github.com/enisn/MarkdownDocumenting" target="_blank">documentation</a> for more information on GitHub.
    </p>

    <hr />

    <script src="@Html.Raw("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")"></script>
    <center>
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_5JFpAw.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </center>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo eu tellus imperdiet lacinia. Maecenas viverra nibh nec eros iaculis, id blandit ligula ullamcorper. Praesent eget libero ac nisi pretium tristique id ut dolor. Suspendisse fringilla arcu vel mi sollicitudin porta. Cras facilisis sagittis augue in sagittis. Suspendisse blandit suscipit mattis. Praesent gravida, enim quis suscipit varius, nibh tortor condimentum urna, id eleifend ex velit sed leo. Fusce nulla urna, molestie eu dolor ac, suscipit aliquam metus. Fusce sed risus purus. Ut eu vulputate odio, et pulvinar ligula. Proin massa augue, molestie ut lobortis id, feugiat nec diam. Praesent id sapien facilisis, condimentum odio sed, tincidunt enim.</p>
}

@section Scripts{
    <script>
        setTimeout(function () {
            var pres = document.querySelectorAll("pre>code");
            for (var i = 0; i < pres.length; i++) {
                hljs.highlightBlock(pres[i]);
            }
        });

    </script>
}